border-1px($color)
  position: relative
  &:after
    position: absolute
    display: block
    width: 100%
    left: 0
    bottom: 0
    border-top: 1px solid $color
    content: " "

bg-image($url)
  background-image: url($url + '@2x.png')
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif
  font-weight: 200
